.nav.navbar-nav li a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    color: black;
}
.active, .nav-item:hover,.dropdown:hover{
    background-color: rgb(193, 198, 243);
    color: azure;
    border-radius: 20%;
}

.summary_format{
    border-radius: 25px;
    border: 2px solid #d4ecb2;
    padding: 10px; 
    width: 100%;
    height: auto;  
    text-align:center;
}