{% extends "machine/layout.html"%} 
{% block header %}
{% for cat in machinecategory %}
    <h1>{{ cat.name }}</h1>
    <h1>{{ cat.id|add:-1 }}</h1>
    <h1>{{ cat.imgID.image.url}}</h1>
    
{% endfor %}

<div id="machine_category" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        {% for cat in machinecategory %}
            <li data-target="#machine_category" data-slide-to={{ cat.id|add:-1 }} class="active"></li>   
        {% endfor %}
    </ul>
    
    <!-- The slideshow -->
    <div class="carousel-inner">
        {% for cat in machinecategory %}
            <div class="carousel-item active">
                <img src={{ cat.imgID.image.url}} alt={{ cat.name }} width="100%%" height="auto">
            </div>
        {% endfor %}
    </div>
    
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#machine_category" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#machine_category" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>
{% endblock %}
{% block body %}
{% endblock %}